/* gerais */
p, ul li {
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  margin: 0;
}

h1, h2, h3 {
  margin: 0;
}

a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #000;
}

.titulo {
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}

.subtitulo-1 {
  font-size: 2.25rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}

.subtitulo-2 {
  font-size: 3rem;
  color: #fff;
  text-align: center;
  align-self: center;
}

.menu-ativo {
  border-bottom: solid #000 0.3rem;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

video{
  width: 100%;
  height: auto;
  display: block;
}

.btn-preto {
  border: solid #000 0.3rem;
  background: #000;
  border-radius: 1rem;
  display: inline-block;
  padding: 1rem 1.5rem;
}

.btn-preto a {
  color: #fff;
}

.btn-preto:hover {
  background: #333232;
  border-color: #333232;
  cursor: pointer;
}

.btn-branco {
  border: solid #000 0.2rem;
  background: #fff;
  border-radius: 1rem;
  display: inline-block;
  padding: 1rem 1.5rem;
}

.btn-branco a {
  color: #000;
}

.btn-branco:hover {
  background: #ccc4c4;
  cursor: pointer;
}


/* header */

header{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem 2rem;
  text-align: center;
}

nav {
  align-self: center;
}

nav a {
  padding-bottom: 0.4rem;
}

nav a:hover {
  border-bottom: solid #BB641D 0.3rem;
}

ul {
  list-style: none;
  display: flex;
  flex: auto;
  flex-wrap: nowrap;
  gap: 2rem;
}


@media (max-width:780px){

  header{
    grid-template-columns: 1fr;
    justify-items: center;
  }

  ul {
    flex-wrap: wrap;
  }

  nav {
    text-align: center;
  }

  nav a {
    border: solid #000 0.3rem;
    padding: 0.2rem 1rem;
  }

  nav a:hover, .menu-ativo {
    border: solid #BB641D 0.3rem;
    color: #BB641D;
  }

}

/* intro - home */
.introducao {
  padding: 5rem 10rem;
  text-align: center;
}

.introducao p {
  padding: 3rem 5rem;
  line-height: 2rem;
}

@media (max-width:780px){

  .introducao, .introducao p {
    padding: 2.5rem;
  }

}

.itens-cardapio {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.box, .box-2, .box-3 {
  background: url("/img/cafe-home.png") no-repeat center;
  width: 400px;
  height: 420px;
  justify-content: center;
}

.box-2 {
  background: url("/img/bolo-home.png") no-repeat center;
}

.box-3 {
  background: #000;
}

.box-3 p {
  color: #fff;
  padding: 3rem 3rem 5rem 1.5rem;
}

.box-3 a {
 margin: 2rem;
}

@media (max-width:780px) {
  .itens-cardapio {
   flex:1;
   flex-wrap: wrap;
   place-items: center;
  }

}

.quebra {
  margin: 5rem 0 2rem 0;
  position: relative;
}

.texto {
  position: absolute;
  z-index: 1;
  top: 15rem;
  left: 20rem;
  place-self: center;
}

.texto p {
  padding: 2rem 0;
}

@media (max-width:780px) {
  .texto {
    top: 1.5rem;
    left: 3rem;
  }

  .texto p {
    padding: 0.6rem;
    font-size: 2rem;
  }

  .texto .btn-preto{
    margin-left: 5rem;
  }

}

/* black space */

.espaço {
  padding: 2rem 0rem;
  text-align: center;
}

.espaço h1 {
  padding-bottom: 3rem;
}

.espaço h2 {
  text-transform: uppercase;
  font-weight:normal;
  padding: 0rem 2rem 3rem 2rem;
}

.espaço p {
  padding: 0rem 3rem 3rem;
}

.carrocel-fotos {
  display: flex;
  flex: 1;
  flex-wrap: nowrap;
  gap: 2rem;
  place-content: center;
  padding-bottom: 3rem;
}

.mapa iframe {
  border: 0.25rem solid #BB641D;
  margin: 3rem auto;
  max-width: 1200px;
}

@media (max-width:780px) {
  .carrocel-fotos {
    flex-wrap: wrap;
  }

  .mapa iframe {
    width: 25rem;
    max-width: 300px;
  }
}

/* faça parte*/

.faca-parte {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  padding: 2rem;
}

.faca-parte h2 {
  text-transform: uppercase;
  font-size: 2rem;
  padding-bottom: 2rem;
}

.faca-parte p {
  line-height: 2rem;
  padding-bottom: 2rem;
}

.faca-parte .btn-preto {
  margin-top: 2rem;
}

@media (max-width:780px) {
  .faca-parte {
    grid-template-columns: 1fr;
  }
}

/* footer */

footer{
  background: #000;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  height: 13rem;
  padding: 1rem;
  position: relative;
}

.nav {
  padding-left: 4rem;
}

.nav ul li a{
  color: #fff;
  padding-bottom: 1rem;
}

.nav a:hover, .redes-sociais a:hover {
  border-bottom: solid #fff 0.3rem;
  cursor: pointer;
}

.direitos p {
  color: #fff;
  text-align: center;
}

.direitos {
  background: #000;
  padding: 2rem;
}

.redes-sociais {
  padding-left: 4rem;
}

@media (max-width:780px) {
 
  footer {
    flex-wrap: wrap;
    flex: 1;
    height: 30rem;
    justify-content: center;
  }

  .redes-sociais {
    padding-left: 0rem;
  }

}


/*  CONHEÇA */
.container {
  position: relative;
  padding: 4rem 20rem;
  text-align: center;
}


.container::before {
  content: "";
  background: url("../img/prensa-francesa\ 1.svg") no-repeat;
  width: 17rem;
  height: 19rem;
  left: -1rem;
  position: absolute;
}

.container p, h1, h2{
  padding-bottom: 3rem ;
}

@media (max-width:780px) {
  .container {
    padding: 5rem 3rem;
    display: grid;
    grid-template-columns: 1r;
  }

  .container {
    padding: 3rem 2rem;
  }

  .container::before {
    opacity: 0;
  }

}

/* nossa historia */

span {
  float: left;
  position: relative;
  font-size: 1.5rem;
  margin-left: -2rem;
}

.nossa-historia h2 {
  color: #000;
  font-weight: normal;
}

.nossa-historia p {
  padding: 0rem 4rem 2rem 6rem;
  text-align: left;
}

.nossa-historia .container::before, .nosso-cafe .container::before {
  opacity: 0;
}

.detalhe::after {
  content: "";
  background: url("../img/linha-do-tempo.svg") no-repeat;
  width: 3rem;
  height: 77rem;
  position: absolute;
  right: -4rem;
}

.ano {
  margin-bottom: 8rem;
}

.nossa-historia h2::before {
  content: "";
  background: url("../img/cafe-folha\ 1.svg") no-repeat;
  width: 15.2rem;
  height: 21rem;
  right: -0.02rem;
  position: absolute;
}

.call {
  text-align: center;
  padding: 5em;
}

.call p {
  padding-bottom: 2rem;
  font-size: 2rem;
}

@media (max-width:780px) {
  .nossa-historia h2::before {
    opacity: 0;
  }

  .nossa-historia p {
    padding: 0rem 1rem 2rem 6rem;
    text-align: left;
  }

  .detalhe::after {
    background: url("../img/linha-do-tempo-mobile.svg") no-repeat;
    height: 150rem;
  
  }

}

/* NOSSO CAFE */
.logos {
  display: flex;
  flex: 1;
  gap: 4rem;
  justify-content: center;
  padding-top: 3rem;
}

.parcerias {
  position: relative;
  padding-top: 10rem;
}

.logos::before {
  content: "";
  width: 0.3rem;
  height: 4.5rem;
  position: absolute;
  background: #000;
  display: block;
  top: -1rem;
  z-index: 1;
  -webkit-transform: skew(-20deg);
}

@media (max-width:780px) {
  .logos {
    flex-wrap: wrap;
  }

}

/* itens destaque */

.itens {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 5rem 3rem;
}

@media (max-width:780px) {
  .itens {
    grid-template-columns: 1fr;
    justify-content: center;
  }
}

.item p {
  padding: 0 2rem 1rem;
  font-size: 1.3rem;
}

.item h3 {
  padding: 2rem;
  font-size: 2rem;
}

.moldura {
  border: solid #000 0.3rem;
  margin: 2rem;
  display: flex;
  justify-content: center;
}

.foto {
  width: 100%;
  height: auto;
}

.speach {
text-align: center;
}
.destaque-cardapio {
  padding: 8rem 0 8rem;
}

.destaque-cardapio .call{
  padding: 0rem 5rem;
}

.space {
  padding-bottom: 5rem;
}

/* CARDÁPIO */
.cardapio .subtitulo {
  text-align: center;
}

.cardapio .titulo {
  padding: 5rem;
}

.cardapio h1::after {
  content: "";
  background: url("../img/linha.svg") no-repeat center;
  width: 70rem;
  height: 0.5rem;
  display: block;
}

.cardapio main {
  padding: 2rem;
  position: relative;
}

.bebidas {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  justify-content: center;
  gap: 2rem;
  padding: 2rem 0 7rem;
}


.cafe {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 5rem auto;
}

.cafe p {
  padding: 2rem 0;
}

.preco {
  grid-area: 2 / 2;
  font-size: 1.2rem;
}

.bebida {
  margin-bottom: 10rem;
  padding: 2rem;
}

.bebida::after {
  content: "";
  width: 0.3rem;
  height: 4.5rem;
  position: absolute;
  background: #000;
  display: block;
  left: 40rem;
  z-index: 1;
  -webkit-transform: skew(-20deg);
}

@media (max-width:780px) {
  .bebidas {
    grid-template-columns: 1fr;
  }

  .cardapio h1::after {
    content: "";
    background: #000;
    width: 15rem;
    height: 0.2rem;
    display: block;
    margin: 1rem;
    }

    .bebida::after {
      left: 15rem;
    }

}

/* doces */

.doce {
  display: grid;
  grid-template-columns: repeat(2, 22rem);
  gap: 1rem;
  justify-items: center;
  padding: 2rem;
}

.coluna-1 {
  display: flex;
  justify-content: center;
  padding: 2rem 8rem;
}

.coluna-1 h2 {
  font-size: 3rem;
  word-break: break-all;
  text-align: center;
  padding: 15rem 1rem;
  White-space: wrap;
}

.coluna-1 .cafe {
 gap: 2rem;

}

.comidas::after {
    content: "";
    width: 0.3rem;
    height: 4.5rem;
    position: absolute;
    background: #000;
    display: block;
    left: 40rem;
    z-index: 1;
    -webkit-transform: skew(-20deg);
}


@media (max-width:780px) {
.coluna-1 , .doce {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  padding-top: 2rem;
}
.linha-coracao {
  opacity: 0;
  position: absolute;
}
.coluna-1 h2 {
  padding: 5rem;
  word-break: normal;
  font-size: 2.5rem;
}
.comidas::after {
  left: 15rem;
}

}

/* lojinha */
.shop {
  padding-top: 10rem;
  text-align: center;
}

.produtos {
  display: grid;
  grid-template-columns: repeat(2, 380px);
  justify-content: center;
  gap: 2rem;
  padding: 0rem;
}

.produto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 6rem auto;
  text-align: left;
  padding: 1.5rem;
  justify-content: center;
}

.produto p {
  padding: 2rem 1rem;
}

.cardapio .call {
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin: 2rem;
}

.cardapio .call p {
  padding: 1rem;
}

@media (max-width:780px) {
  .produtos {
    grid-template-columns: 1fr;
}

.cardapio .call {
  flex-wrap: wrap;
}

}

/* CONTATO*/

.fale-conosco {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 8rem;
  place-self: center;
  justify-items: center;
}

.fale-conosco p {
  padding: 0rem 5rem 2rem 0rem;
}
.fale-conosco h1{
  text-align: left;
  padding-top: 2rem;
}

.fale-conosco .call {
  padding: 2rem 0rem;
  text-align: left;
}

.localizacao {
  display: grid;
  grid-template-columns: 1fr;
  padding: 3rem 2.5rem;
}

.localizacao h1 {
  font-weight: normal;
  text-transform: uppercase;
  padding: 0;
  font-size: 3rem;
  position: relative;
}

.linha::before {
  content: "";
  background: url("../img/linha\ 1.svg") no-repeat center;
  width: 4rem;
  height: 35rem;
  display: block;
  position: absolute;
  left: 40rem;
  top: -15rem;
  -webkit-transform: rotate(90deg);
}


@media (max-width:780px) {
  
.fale-conosco {
  grid-template-columns: 1fr;
  padding: 4rem;
}

.localizacao {
  padding: 1rem;
}
.linha::before {
  width: 0rem;
  height: 0rem;
}

.cabecalho img{
  object-fit: cover;
  object-position: center;
}
}

/* --- JAVASCRIPT -----*/

.js [data-slide] {
  position: relative;
}

.js [data-slide] > * {
  position: absolute;
  top: 0px;
  opacity: 0;
}

.js [data-slide] > .active {
  position: relative;
  opacity: 1;
  transition: opacity 500ms;
}

.js [data-slide-nav] {
  display: block;
  text-align: center;
  margin: 1rem;
}

.js [data-slide-nav] button {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin: 0.2rem;
  border-radius: 1rem;
  border: none;
  text-indent: -6rem;
  overflow: hidden;
  background: #000;
  margin: 0.5rem;
}

.js [data-slide-nav] button.active {
  background: #BB641D;
}

.js [data-anime] {
  opacity: 0;
  transform: translate3d(0, -3rem, 0);
}

.js .anime {
  opacity: 1;
  transform: none;
  transition: opacity 800ms, transform 800ms;
}


.js .fadeInDown {
  transform: translated3d(0, -60px, 0);
}

.js .fadeInUp {
  transform: translated3d(0, 60px, 0);
}

